<h3>Тема</h3><input type="text" ng-model="meeting.topic"><br>

<h3>Время проведения</h3><input ng-model="meeting.date" type="date"><br>

<h3>Подразделение</h3><select ng-model="defaultDepartment">
    <option ng-repeat="department in departments" value="{{department.id}}"
            ng-selected="meeting.department.id == department.id">{{department.name}}
    </option>
</select><br>

<h3>Ответственный</h3><select ng-click="getEmployeeByDepartmentId()">
    <option ng-repeat="employee in employees" value="{{employee.id}}"
            ng-selected="meeting.responsible.id == employee.id">{{employee.fullName}}
    </option>
</select><br>

<h3>Состав участников</h3>
<table>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Подразделение</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="employee in meeting.listOfParticipants track by $index">
        <td>{{employee.fullName}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.department.name}}</td>
        <td>
            <button ng-click="deleteEmployee($index)">Delete</button>
        </td>

    </tr>
</table>

<h3>Участник</h3><select ng-click="fillAllEmployees()" ng-model="newParticipant">
    <option ng-repeat="employee in allEmployees" value="{{employee}}">{{employee.fullName}}
    </option>

</select>

<button ng-click="addParticipant()">Добавить</button> <br><br>

{{newParticipant}}<br>
{{meeting.listOfParticipants }}<br>

<button ng-click="saveMeeting()">Сохранить</button>
<button ng-click="cancelSaveMeeting()">Не сохранять</button>
